.body {
  font-size: 32rpx;
  color: $uni-text-color;
}
.small {
  font-size: 24rpx;
}
.sub-small {
  font-size: 28rpx;
}
.sub-header {
  font-size: 38rpx;
  font-weight: 500;
}
.grey {
  color: #9b9b9b;
}
.blue {
  color: $uni-color-primary;
}
.success {
  color: $uni-color-success;
}
.waning {
  color: $uni-color-warning;
}
.error {
  color: $uni-color-error;
}
.bold {
  font-weight: 500;
}
